.App {
  text-align: center;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


.hig{
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  border: 1px solid;
}

.navBar{
  position: fixed;
  width: 100%;
}

nav {
  background-color: #000;
  display: block;
  padding: 1em 0;
  text-align: center;
  width: 200px;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

/**** slider */
.slider_container{
  height: 90vh;
}


/** Notis Board*/

.notis-board{
  width: 20vw;
  height: 20vw;
  border: 1px solid;
  position: absolute;
  background-color: #fff;
  top: 27%;
  left: 78%;
}


/********************* Contact Us*/